/* CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 1px solid red;
}
* {
  margin: 0;
  padding: 0;
}
button,
input {
  font: inherit;
}
img {
  display: block;
}
/* VARIABLES */
:root {
  /* COLORS */
}
/* UTILITY CLASSES */

/* GENERAL STYLES */
body {
  margin: 10px;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-image: url("/Images/backdrop-4.jpg");
}
.header__title {
  justify-self: center;
}
.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1vw 10vw;
}
.main__form {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  width: calc(80%-5px);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 16px;
  height: 380px;
}
.form__label {
  font-size: 1.25rem;
}
.form__input,
.form__button {
  padding: 12px;
  border: 2px solid black;
  border-radius: 10px;
  outline: transparent;
  margin: 5px 0px;
}
.form__button {
  cursor: pointer;
  background-color: chartreuse;
}
.form__button:is(:hover, :active) {
  background-color: rgb(121, 239, 4);
}
.main__article {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  width: calc(20%-5px);
  min-width: 310px;
  padding: 16px;
  text-align: center;
  height: 380px;
  overflow: scroll;
}
.num {
  font-size: 2rem;
  border-bottom: 1px solid black;
}
.num:hover {
  background-color: rgba(211, 211, 211, 0.492);
}
